@{
    ViewData["Title"] = "About Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/assets/imgs/facicon.png" sizes="32x32" />
    <link rel="icon" href="~/assets/imgs/facicon.png" sizes="192x192" />
    <link rel="stylesheet" href="~/assets/style/reset.css">
    <link rel="stylesheet" href="~/assets/style/main.css">
    <link rel="stylesheet" href="~/assets/style/bootstrap.css">
    <link rel="stylesheet" href="~/assets/style/about.css">
    <title>HAQQIMIZDA - AZƏRBAYCAN RESPUBLİKASI AĞSAQQALLAR ŞURASI</title>
</head>

<body>
    <header>
        <div id="topArea" class="container">
            <div class="d-flex j-between">
                <div class="leftImg img">
                    <img src="~/assets/imgs/left.png" alt="Left side image" />
                </div>
                <div class="logo img">
                    <a href="index.htm">
                        <img src="~/assets/imgs/logo.png" alt="Logo" />
                    </a>
                </div>
                <div class="rightImg img">
                    <img src="~/assets/imgs/right.png" alt="Right side image" />
                </div>
            </div>
            <div class="d-flex j-between" id="bottomArea">
                <div id="mainName">
                    <h1>AĞSAQQALLAR ŞURASI</h1>
                </div>
                <div class="icons">
                    <ul id="icons" class="d-flex j-right">
                        <li><a href="https://www.facebook.com/profile.php?id=61560177795811" target="_blank"> <i class="fab fa-facebook-f" style="background: #365493;"></i>
                            </a></li>
                        <li><a href="" target="_blank"> <i class="fab fa-twitter" style="background: #33ccff;"></i> </a>
                        </li>
                        <li><a href="" target="_blank"> <i class="fab fa-linkedin-in" style="background: #365493;"></i>
                            </a></li>
                        <li><a href="" target="_blank"> <i class="fab fa-whatsapp" style="background: #1ebea5;"></i>
                            </a></li>
                        <li><a href="" target="_blank"> <i class="fab fa-telegram-plane"
                                    style="background: #37aee2;"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav id="navbar">
            <div class="continer nav">
                <div class="burger-menu">
                    <button id="burgerMenu"> ☰ </button>
                </div>
                <ul id="menu" class="d-flex j-between">
                    <li> <a asp-action="Index" asp-controller="Home">Əsas səhifə</a> </li>
                    <li> <a asp-action="Index" asp-controller="About">Haqqımızda</a> </li>
                    <li> <a asp-action="Index" asp-controller="Sedr">Sədr</a> </li>
                    <li> <a asp-action="Index" asp-controller="Surasedr"> Rayon Agsaqqlar Surasi Sədri</a> </li>
                    <li class="dropdown-toggle">
                        <a href="#">Rəhbər Struktur</a>
                        <ul class="dropdown">
                            <li><a asp-action="Index" asp-controller="Muavin" class="dropdown-link">Sədr nüavinləri</a>
                            </li>
                            <li><a asp-action="Index" asp-controller="Heyet" class="dropdown-link">İdarə Heyətinin</a>
                            </li>
                            <li><a asp-action="Index" asp-controller="Komissiya" class="dropdown-link">Nəzarət-Təftiş
                                    Komissiyası</a></li>
                            <li><a asp-action="Index" asp-controller="Aparat" class="dropdown-link">Aparat</a></li>
                            <li><a asp-action="Index" asp-controller="Rayon" class="dropdown-link">Şəhər və rayon
                                    təşkilatlarının sədrləri</a></li>
                        </ul>
                    </li>
                    <li> <a asp-action="Index" asp-controller="News">Xəbərlər</a> </li>
                    <li> <a asp-action="Index" asp-controller="Contact">Əlaqə</a> </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col8 fleft tabs bg-white">
                    <h5>HAQQIMIZDA</h5>
                    <div id="tabBtn">
                        <div class="tabContent">
                            <button class="btn">
                                <i class="fas fa-angle-double-right"></i>
                                Tarixi və fəaliyyət istiqamətləri
                            </button>
                            <div class="tab-desc">
                                <p>Azərbaycan Ağsaqqallar Şurası 1989-cu ildə təsis edilmiş, 1990-cı ildə isə dövlət
                                    qeydiyyatından keçərək rəsmi fəaliyyətə başlamışdır. Şuranın ilk sədri
                                    Azərbaycan SSR Kommunist Partiyası MK-nın keçmiş birinci katibi, akademik İmam
                                    Mustafayev olmuşdur. İmam Mustafayevin vəfatından sonra 1997-ci ildə Azərbaycan
                                    Ağsaqqallar Şurasının III növbədənkənar qurultayında Şuranın sədri seçilən
                                    akademik Budaq Budaqov təşkilatın 2002-ci və 2009-cu ildə keçirilən IV və V
                                    qurultaylarında yenidən sədr seçilərək 2012-ci ilədək Respublika Ağsaqqallar
                                    Şurasına rəhbərlik etmişdir. Akademik Budaq Budaqovun vəfatından sonra isə
                                    2013-cü ildə Azərbaycan Ağsaqqallar Şurasının növbədənkənar VI qurultayı
                                    keçirilmiş və Azərbaycan Milli Məclisinin deputatı Fəttah Heydərov Şuranın sədri
                                    seçilmişdir. Azərbaycan Ağsaqqallar Şurasının 2018-ci ildə keçirilən VII
                                    qurultayında Milli Məclisin Hesablayıcı Komissiyasının sədri Fəttah Heydərov
                                    yenidən Şuranın sədri seçilmiş və 2020-ci ilə qədər bu vəzifəni həyata
                                    keçirmişdir. Fəttah Heydərovun vəfatından sonra 29 sentyabr 2020-ci ildə
                                    Azərbaycan Ağsaqqallar Şurasının növbədənkənar VIII qurultayında Milli
                                    Məclisinin deputatı, Azərbaycan Mərkəzi Kooperativlər İttifaqının
                                    (“Azərittifaq”) sədri, Azərbaycan Kooperasiya Universitetinin rektoru, professor
                                    Eldar Quliyev təşkilatın sədri seçilmişdir.</p>
                                <p>Ümumi maraqlar əsasında birləşmiş, könüllülük, üzvlərinin hüquq bərabərliyi
                                    prinsipləri əsasında yaradılan ictimai birliyin – Azərbaycan Ağsaqqallar
                                    Şurasının fəaliyyəti Azərbaycan Respublikasını əhatə edir. Təşkilat öz
                                    fəaliyyətini Azərbaycan Respublikasının Konstitusiyası, müvafiq qanunvericilik
                                    və Nizamnamə əsasında qurur. Rayon və şəhər təşkilatları üçün Əsasnamələr
                                    mövcuddur. Şuranın əsas məqsədi Azərbaycan xalqının milli-mənəvi dəyərlərini və
                                    tarixi ənənələrini, habelə müasir inkişaf meyillərini nəzərə almaqla ölkənin
                                    ictimai-siyasi, sosial-iqtisadi və humanitar inkişafına, cəmiyyət həyatının
                                    müxtəlif məsələlərinin həllinə ağsaqqalların töhfəsini təmin etməkdən ibarətdir.
                                </p>
                                <p>Azərbaycan Ağsaqqallar Şurası qarşıya qoyulmuş məqsədlərə çatmaq üçün, əsasən,
                                    aşağıdakı vəzifələri həyata keçirir:</p>
                                <p>müxtəlif fəaliyyət sahələrində uzun müddət uğurla çalışmış, cəmiyyətdə nüfuz
                                    qazanmış və ictimai fəal olan insanları təşkilata cəlb etmək;</p>
                                <p>dövlət orqanları və vətəndaş cəmiyyəti təsisatları ilə əməkdaşlıq etmək;</p>
                                <p>elm, təhsil və mədəniyyətin aktual problemlərinə və inkişaf perspektivlərinə dair
                                    rəy və təkliflər bildirmək;</p>
                                <p>xalqımızın milli-mənəvi dəyərlərinin qorunmasına, əxlaqi normaların və sağlam
                                    həyat tərzinin təbliğinə xidmət edən tədbirlər görmək;</p>
                                <p>əhali, xüsusilə də gənclər arasında vətənpərvərlik hissinin gücləndirilməsi və
                                    vətəndaş məsuliyyətinin artırılması üçün zəruri tədbirlər həyata keçirmək;</p>
                                <p>kütləvi informasiya vasitələri və elektron informasiya resurslarının
                                    imkanlarından səmərəli istifadə edilməsi üçün tövsiyələr vermək;</p>
                                <p>xarici ölkələrin analoji icitimai təşkilatları ilə əlaqələr qurmaq və təcrübə
                                    mübadiləsi aparmaq və s.</p>
                                <p>Şuranın ali idarəetmə orqanı ildə bir dəfədən az olmayaraq çağırılan Ümumi
                                    Yığıncaqdır. Şuranın fəaliyyətinə carı rəhbərliyi icra orqanı olan İdarə Heyəti
                                    həyata keçirir. İdarə Heyəti sədrdən, onun müavinlərindən və digər üzvlərdən
                                    ibarətdir. İdarə Heyətinin sədri, həmçinin, Şuranın sədri hesab olunur.</p>
                                <p>Şəhər və rayon Ağsaqqallar Şurası, həmçinin Naxçıvan Muxtar Respublikasının
                                    Ağsaqqallar Şurası Azərbaycan Ağsaqqallar Şurasının tərkib hissəsidir. 21 mindən
                                    çox üzvü olan Azərbaycan Ağsaqqallar Şurasının 76 rayon və şəhər təşkilatı
                                    (işğaldan azad edilmiş rayonlar istisna olmaqla) fəaliyyət göstərir ki, onlardan
                                    8-i Naxçıvan Muxtar Respublikasının payına düşür.</p>
                                <p>Ümummilli Lider Heydər Əliyev xalqın təkidli tələbi ilə Azərbaycana yenidən
                                    rəhbərliyə qayıtdıqdan sonra respublikada bütün sahələrdə olduğu kimi
                                    Ağsaqqallar Şurasında da canlanma yaranmış, Azərbaycanın əksər şəhər və
                                    rayonlarında Şuranın yerli təşkilatları təsis edilmişdir.</p>
                                <p>Öz sıralarında elm, mədəniyyət və incəsənət adamlarını, ictimai-siyasi xadimləri
                                    birləşdirən Azərbaycan Ağsaqqallar Şurası cəmiyyətimizin, xüsusilə də yeniyetmə
                                    və gənclərin Vətənə məhəbbət, milli-mənəvi dəyərlərimizə və adət-ənənələrimizə
                                    hörmət ruhunda tərbiyə edilməsində və maariflənməsində üzərinə düşən öhdəlikləri
                                    layiqincə yerinə yetirir. Ölkəmizin ictimai-siyasi həyatında yaxından iştirak
                                    edərək öz fəaliyyətini bir çox istiqamətlərdə quran Azərbaycan Ağsaqqallar
                                    Şurasında təmsil olunan respublika ağsaqqalları ulu öndər Heydər Əliyevin
                                    layiqli davamçısı, möhtərəm Prezidentimiz cənab İlham Əliyevin hər zaman xalqın
                                    mənafeyinə xidmət edən daxili və xarici siyasətini dəstəkləyir, gənc nəslin
                                    milli adət-ənənələrə, azərbaycançılıq məfkurəsinə bağlılıq ruhunda tərbiyəsi
                                    işinə xüsusi diqqət yetirir, dinamik inkişaf edən ölkəmizin gələcəyi naminə öz
                                    qüvvə, bilik və bacarıqlarını əsirgəmirlər. Azərbaycan Ağsaqqallar Şurasının
                                    təşkilatçılığı ilə respublikamızın, demək olar ki, bütün rayon və şəhərlərində
                                    ağsaqqalların, ziyalıların, gənclərin və ictimaiyyətin digər nümayəndələrinin
                                    iştirakı ilə toplantılar, dəyirmi masalar keçirilir, müzakirələr aparılır. Bu
                                    tədbirlərdə iştirak edən Azərbaycan Ağsaqqallar Şurasının üzvləri, millət
                                    vəkilləri, elm adamları, gənclər təşkilatının təmsilçiləri öz çıxışlarında
                                    dövlətimizin uğurlu daxili və xarici siyasətindən söhbət açır, aktual məsələlərə
                                    toxunaraq həlli vacib problemləri gündəmə gətirir, səmərəli təkliflər irəli
                                    sürürlər. Azərbaycan Ağsaqqallar Şurasının hər bir üzvü cəmiyyətin sağlam ruhda
                                    inkişafı, gənclərin yüksək vətənpərvərlik ruhunda böyüməsi üçün üzərlərinə düşən
                                    missiyalarını gündəlik həyatları və fəaliyyətləri zamanı böyük səylə davam
                                    etdirir, inkişaf etməkdə və hərtərəfli zənginləşməkdə olan dövlətimizi hər zaman
                                    qorumağa, yaşatmağa və Vətənimizin daha da çiçəklənməsinə çalışırlar.</p>
                            </div>
                        </div>
                        <div class="tabContent">
                            <button class="file-download-btn btn" data-file-url="./assets/files/nizamname.docx">
                                <i class="fas fa-angle-double-right"></i>
                                Azərbaycan Ağsaqqallar Şurası NİZAMNAMƏSİ
                            </button>
                            <div class="tab-desc">
                                <div class="file">
                                    <p>Faylı yüklə</p>
                                    <button class="download-btn"><i class="fas fa-cloud-download-alt"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="tabContent">
                            <button class="file-download-btn btn" data-file-url="./assets/files/esasname.docx">
                                <i class="fas fa-angle-double-right"></i>
                                RAYON ( ŞƏHƏR ) AĞSAQQALLAR ŞURALARININ NÜMUNƏVİ ƏSASNAMƏSİ
                            </button>
                            <div class="tab-desc">
                                <div class="file">
                                    <p>Faylı yüklə</p>
                                    <button class="download-btn"><i class="fas fa-cloud-download-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col4 fleft links-area bg-white" id="bg-white-mobile">
                    <div class="row">
                        <a href="https://president.az/" target="_blank" class="img col-4">
                            <img src="~/assets/imgs/ialyev.png" alt="">
                        </a>
                        <a href="https://mehriban-aliyeva.az/" target="_blank" class="img col-4">
                            <img src="~/assets/imgs/maliyeva.png" alt="">
                        </a>
                        <a href="https://heydar-aliyev-foundation.org/az" target="_blank" class="img col-4">
                            <img src="~/assets/imgs/hfond.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container footerContent">
            <div class="row">
                <div class="logo col-4 fleft">
                    <a href="index.htm" class="img">
                        <img src="~/assets/imgs/logo.png" alt="">
                    </a>
                    <h2>AZƏRBAYCAN RESPUBLİKASI AĞSAQQALLAR ŞURASI</h2>
                </div>
                <div class="navigation col-4 fleft list">
                    <h5>Naviqasiya</h5>
                    <ul class="d-flex j-between">
                        <li><i class="fas fa-angle-double-right"></i> <a asp-action="Index" asp-controller="Home">Ana
                                səhifə</a> </li>
                        <li><i class="fas fa-angle-double-right"></i> <a asp-action="Index"
                                asp-controller="About">Haqqımızda</a> </li>
                        <li><i class="fas fa-angle-double-right"></i> <a asp-action="Index"
                                asp-controller="Sedr">Sədr</a> </li>
                        <li><i class="fas fa-angle-double-right"></i> <a asp-action="Index"
                                asp-controller="News">Xəbərlər</a> </li>
                        <li><i class="fas fa-angle-double-right"></i> <a asp-action="Index"
                                asp-controller="Contact">Əlaqə</a> </li>
                    </ul>
                </div>
                <div class="col-4 fleft list">
                    <h5>Əlaqə</h5>
                    <ul class="d-flex j-between">
                        <li class="d-flex j-between">
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <span>Bakı şəhəri, Yasamal rayonu Şəfaət Mehdiyev 75, AZ1141</span>
                        </li>
                        <li class="d-flex j-between">
                            <span><i class="fas fa-phone-alt"></i></span>
                            <span>
                                <p>(+994 12) 539 16 13</p>
                                <p>(+994 12) 539 16 14</p>
                            </span>
                        </li>
                        <li class="d-flex j-between">
                            <span><i class="fas fa-envelope"></i></span>
                            <span>info@agsaqqallarsurasi.az</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/edff80f9e7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/about.js"></script>
</body>

</html>