<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Admin</title>
	<!-- Custom fonts for this template-->
	<link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<div id="wrapper">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Admin"
				asp-action="Index" asp-controller="Dashboard">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Ağsaqqalar Şurası Admin </div>

			</a>
			<hr class="sidebar-divider my-0">
			<li class="nav-item active">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Dashboard">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Admin Panel</span></a>
			</li>

			<!-- 
				Yazdıqlarımdan başqa nə varsa onlarında linklərini yerləşdir 
				Əsas səhifədə olan xəbər carusel onuda başa qoyarsan Əsas xəbərlər yazarsan  
				Nələr qalıbsa hamısını tamamla axşam deploy eləyək getsin 	
			 -->

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="News">Xəbərlər</a>
			</li>
		@* 	<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="About">Haqqımızda</a>
			</li> *@
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Sedr">Ağsaqqalar Şurasının Sədri</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="RayonSedr">Rayon Ağsaqqalar Şurasının Sədri</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="RayonMuavin">Rayon Ağsaqqalar Şurasının Muavinləri</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Muavin">Sədr Müavinləri</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Heyet">Rayon Ağsaqqalar Şurasının İdarə Heyəti</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Heyet">İdarə Heyəti</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="NezaretKomissiyasi">Nəzarət-Təftiş Komissiyası</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Aparat">Aparat</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Aparat">Şəhər və rayon təşkilatlarının sədrləri</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Congrats">Təbriklər</a>
			</li>
			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

		</ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="navbar-nav ml-auto">
						

						<div class="topbar-divider d-none d-sm-block"></div>

						
						@if (User.Identity.IsAuthenticated)
						{
							<a class="dropdown-item" asp-controller="Account" asp-action="LogOut">Çıxış</a>
						}
								

					</ul>

				</nav>

				@RenderBody()


			</div>
		</div>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="login.html">Logout</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="~/admin/vendor/jquery/jquery.min.js"></script>
		<script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="~/admin/js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="~/admin/vendor/chart.js/Chart.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="~/admin/js/demo/chart-area-demo.js"></script>
		<script src="~/admin/js/demo/chart-pie-demo.js"></script>
</body>

</html>