@{
    ViewData["Title"] = "Index";
}

                 <div class="container">
    <div class="card-group">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Desc</p>
                <p class="card-text"><small class="text-muted">Date</small></p>
            </div>
        </div>
    </div>
</div>